a{
    text-decoration:none;
    color:white;
}
nav{
    background-color:#263343;
    justify-content:space-between;
    display:flex;
    align-items: center;/*logo를 세로중앙정렬*/
}
.navbar_logo{
/* 줄을 치는거 안치는 거 */
color:white;
font-size: 10px;
}
.navbar_logo  i{ 
    /*.navbar_logo 아래에 i 그냥스페이스  */
    font-size: 20px;
}           
.navbar_logo > a{
    font-size: 20px;
}
.navbar_menu{
list-style-type: none;
display:flex;
}
.navbar_menu li{
    padding:8px 16px;
}
.navbar_icon{
list-style-type: none;
display:flex;
padding:8px 8px;
}
.navbar_icon li{
    padding:8px 8px;
}
*{
    margin:0px;
    padding:0px;
}
.navbar_menu li:hover{
    background-color: orange;
    color:black;
    /*글자의 색이 블랙으로 바뀌는법*/
}
@media screen and (max-width:600px){
    nav{
        flex-direction: column;
    }
    .navbar_menu{
        flex-direction:column;
    }
    /* /*메뉴의 li의 마우스가 올라갈때 한행을 모두 색이 변경되게 처리    */
}